<section>
    <div class="container">
        <br>
        <h1>Categories</h1>
        <div class="row mt-4">
            <a href="/admin/add-category" class="btn btn-success ml-auto mt-1 mr-5">Add Category</a>
        </div>
        <br>

            <div class="list-group">
                {{#each categories}}
                <a href="/admin/category-products/{{this._id}}" type="submit" name="Category" class="list-group-item list-group-item-action">{{this.Category}}</a>
                {{/each}}
            </div>

    </div>
</section>